

html,
body {
  background: #030303;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.index-hero {
  background: rgb(100,189,101);
  background: linear-gradient(166deg, rgba(100,189,101,1) 10%, rgba(255,206,109,1) 36%, rgba(255,98,95,1) 69%, rgba(43,44,121,1) 100%);

}

.bg-2 {
  background: rgb(100,189,101);
  background: linear-gradient(346deg, rgba(100,189,101,1) 10%, rgba(255,206,109,1) 36%, rgba(255,98,95,1) 69%, rgba(43,44,121,1) 100%);
}

.contact-gradient-top {
  background: rgb(255,255,230);
  background: linear-gradient(346deg, rgba(255,255,230,1) 7%, rgba(251,100,100,1) 35%, rgba(95,77,71,1) 65%, rgba(6,5,4,1) 90%);
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.rounded {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  border: 5px solid rgb(199, 190, 190);
}


/* @font-face {
  font-family: 'cassannet';
  src: url('/cassannet.woff') format("WOFF");
 }

.cassannet { 
 font-family: 'cassannet' !important;
} */



.darken {
  filter: brightness(82%);
}

.darken-2 {
  filter: brightness(90%);
}


@keyframes animate {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animated {
  animation: animate linear 2s infinite;
}

.animated2 {
  animation: animate2 linear 2s infinite;
}


.square {
  aspect-ratio: 1/1;
}
