

html,
body {
  background: #0a0a0a;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rounded {
  border-radius: 50%;
}


/* @font-face {
  font-family: 'cassannet';
  src: url('/cassannet.woff') format("WOFF");
 }

.cassannet { 
 font-family: 'cassannet' !important;
} */



.darken {
  filter: brightness(82%);
}

.darken-2 {
  filter: brightness(90%);
}


@keyframes animate {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animated {
  animation: animate linear 2s infinite;
}

.animated2 {
  animation: animate2 linear 2s infinite;
}


.square {
  aspect-ratio: 1/1;
}
