

html,
body {
  background: #0a0a0a;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rounded {
  border-radius: 50%;
}


/* @font-face {
  font-family: 'cassannet';
  src: url('/cassannet.woff') format("WOFF");
 }

.cassannet { 
 font-family: 'cassannet' !important;
} */

.hero {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.darken {
  filter: brightness(82%);
}

.darken-2 {
  filter: brightness(90%);
}
